---
# This adds a credential type to the aap controller configuration

- name: "Add the credential type {{ credential_type.name }}"
  ansible.controller.credential_type:
    controller_host: "{{ aap_platform_host }}"
    controller_username: "{{ aap_platform_username }}"
    controller_password: "{{ aap_platform_password }}"
    name: "{{ credential_type.name }}"
    new_name: "{{ credential_type.name | default(omit) }}"
    description: "{{ credential_type.description | default(omit) }}"
    kind: "{{ credential_type.kind | default('cloud') }}"
    inputs: "{{ credential_type.inputs }}"
    injectors: "{{ credential_type.injectors }}"
    request_timeout: "{{ credential_type.request_timeout | default(omit) }}"
    state: "{{ credential_type.state | default(omit) }}"
    validate_certs: true
